div.titleBar {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}

div.Level {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: white;
    left: 40%;
    padding: 10px;
    margin: 10px;
    position: absolute;
    text-decoration: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

div.Level:hover {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: red;
    left: 40%;
    padding: 10px;
    margin: 10px;
    position: absolute;
    text-decoration: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

div.contributers {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    color: white;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.titleBar a.main {
    text-align: center;
    color: white;
    display: block;
    float: left;
    padding: 3px;
    text-decoration: none;
    background-color: #404040;
}

div.titleBar i.user {
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 5px;
}

div.titleBar a.main:hover {
    background-color: #ddd;
    color: black;
}

div.titleBar a {
    text-align: center;
    color: white;
    display: block;
    float: right;
    padding: 3px;
    text-decoration: none;
    background-color: gray;
}

div.titleBar a:hover {
    background-color: lightgray;
    color: black;
}

body {
    margin: 0;
}

div.title {
    text-align: center;
    background-color: #404040;
    padding: 10px;
}

div.blog {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: xx-large;
    background-color: #8f8f8f;
    padding: 50px;
}

button {
    -webkit-appearance: none;
    background: #757474;
    border: 2px solid #404040;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

.button {
    -webkit-appearance: none;
    background: #757474;
    border: 2px solid #404040;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

.file-upload__input {
    -webkit-appearance: none;
    background: #757474;
    border: 2px solid #404040;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

.button:active {
    -webkit-appearance: none;
    background: #404040;
    border: 2px solid #757474;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

div.topdemon {
    background-color: #121212;
    outline: 2px solid #222;
    color: white;
    padding: 10px;
}

div.topdemon a:hover {
    background-color: #121212;
    outline: 2px solid #222;
    color: red;
}

button:active {
    -webkit-appearance: none;
    background: #404040;
    border: 2px solid #757474;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: azure;
}

a:visited {
    color: azure;
}

a:hover {
    color: crimson;
}

a:active {
    color: crimson;
    text-decoration: underline;
}

.JSicon:active {
    background-image: none;
}

div.playArea {
    border-color: #757474;
    border-radius: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

img.logo {
    height: 5%;
    width: 10%;
}

div.Header {
    outline: 10px;
    outline-color: black;
    color: white;
}

div.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: static;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    color: white;
    font-size: small;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-decoration: none !important;
    outline: 10px !important;
    outline-color: black;
    text-align: center;
    align-self: flex-end;
    display: block;
}

* {
    box-sizing: border-box;
}