div.titleBar {
    text-align: center;
    background-color: #565857;
    color: white;
    border-color: #9C416C;
    border-style: solid;
    padding-bottom: 10px;
    border-width: 2px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

div.actualBlog {
    font-size: medium;
}

* {
    font-family: "Maple Mono";
}

div.Level {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: white;
    left: 40%;
    padding: 10px;
    margin: 10px;
    position: absolute;
    text-decoration: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

div.Level:hover {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: red;
    left: 40%;
    padding: 10px;
    margin: 10px;
    position: absolute;
    text-decoration: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

div.contributers {
    text-align: left;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    color: white;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.titleBar a.main {
    text-align: center;
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    background-color: #404040;
}

div.titleBar i.user {
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 5px;
}

div.titleBar a.main:hover {
    background-color: #ddd;
    color: black;
}

div.titleBar a {
    text-align: right;
    background: #383838;
    border: 1px solid #A11FC4;
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    padding: 0.31em 0.8em;
    cursor: pointer;
    color: #BCBDC0;
    font-size: medium;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

div.titleBar a:hover {
    background: #404040;
    border: 1px solid #A11FC4;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    padding: 0.31em 0.8em;
    cursor: pointer;
    color: #9ea4b6;
    font-size: medium;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

body {
    margin: 0;
}

div.title {
    text-align: center;
    background-color: #404040;
    padding: 10px;
}

div.blog {
    text-align: left;
    font-size: larger;
    background-color: #2f2f2f;
    padding: 50px;
    color: #BCBDC0;
}

button {
    background: #383838;
    border: 1px solid #A11FC4;
    border-radius: 14px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: #BCBDC0;
    font-size: medium;
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

button:hover {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    background: #404040;
    border: 1px solid #A11FC4;
    border-radius: 14px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: #9ea4b6;
    font-size: medium;
}

@keyframes fade {
    0% {
        background: #383838;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: #BCBDC0;
    }
    100% {
        background: #404040;
        border: 1px solid #A11FC4;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: #9ea4b6;

    }
}
@keyframes fadeOut {
    100% {
        background: #383838;
        border: 1px solid #A11FC4;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: #BCBDC0;
    }
    0% {
        background: #404040;
        border: 1px solid #A11FC4;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: #9ea4b6;
    }
}

.file-upload__input {
    -webkit-appearance: none;
    background: #666666;
    border: 2px solid #404040;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

.button:active {
    -webkit-appearance: none;
    background: #404040;
    border: 2px solid #757474;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

div.topdemon {
    background-color: #121212;
    outline: 2px solid #222;
    color: white;
    padding: 10px;
}

div.topdemon a:hover {
    background-color: #121212;
    outline: 2px solid #222;
    color: red;
}

button:active {
    -webkit-appearance: none;
    background: #404040;
    border: 2px solid #757474;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: azure;
}

a:visited {
    color: azure;
}

a:hover {
    color: crimson;
}

a:active {
    color: crimson;
    text-decoration: underline;
}

.JSicon:active {
    background-image: none;
}

div.playArea {
    border-color: #757474;
    border-radius: 10px;
}

h1 {
    font-size: larger;
}

img.logo {
    height: 5%;
    width: 10%;
}

div.Header {
    outline: 10px;
    outline-color: black;
    color: white;
}

div.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    border-radius: 10px;
    border: 2px dashed #222;
    color: white;
    font-size: small;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-decoration: none !important;
    outline: 10px !important;
    outline-color: black;
    text-align: center;
    align-self: flex-end;
    display: block;
}

* {
    box-sizing: border-box;
}