i {
    font-style: normal;
    font-size: larger;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
a:hover {
    text-decoration: underline;
}
.copyPaste {
    background-color: rgb(192, 192, 192);
    border-color: rgb(100, 100, 100);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    margin-right: 90%;
    text-align: center;
}
.copyPaste:hover {
    cursor: text;
}